@import 'tailwindcss';

/* @theme {
	--color-darkblue: #0d1623;
	--color-royalblue: #234c87;
	--color-limegreen: #8ec329;
	--color-springgreen: #d5ff84;
	--color-electriclime: #a7ff00;
	--color-palegray: #b1b1b1;
	--color-neutralgray: #4f4f4f;
	--color-ivory: '#FFFFF0';
} */

:root {
	font-family: 'Geist Mono', serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
}
